
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(rgba(0, 119, 181, 1),#333333);
}

.title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    position: fixed;
    margin-top: -400px;
    font-size: 5em;
}


.info{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: linear-gradient(320deg, rgba(113,67,193,1) 19%, rgba(29,109,253,1) 98%);;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    position: fixed;
    padding-top: 10px;
    text-align: center;
}

.btn{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    background:#323232;
    position: fixed;
}
.p{
    font-family:'Roboto', sans-serif;
    font-size: 1.1em;
}

.cohete{
    margin-top: 30%;
    margin-left: -8%;
}

.carrera{
    margin-top: 30%;
    margin-left: 70%;
}

.Text-Bold{
    font-weight: bold;
}

.Properties{
    color: #5aff0c;
    font-style: italic;
}

.card_1{
    left:42%;
    top:35%;
}

.card_2{
    left:10%;
    top:35%;
}

.card_3{
    left:75%;
    top:35%;
}

.card_4{
    width: 230px;
    left: 25%;
    top: 70%;
}

.card_5{
    width: 230px;
    left: 58%;
    top: 70%;
}

@media (max-width: 600px){
    
    .info{
        height: 100px;
        font-size: 0.8em;
    }

    .title{
        margin-top: -160%;
    }
    
    .card_1{
        
        left:26%;
        top:45%;
    }
    
    .card_2{
        left:26%;
        top:30%;
    }
    
    .card_3{
        left:26%;
        top:60%;
    }
    .card_4{
        left:22%;
        top:75%;
    }
    .card_5{
        left:22%;
        top:90%;
    }
    .cohete{
        margin-top: 30%;
        margin-left: -35%;
    }
    
    .carrera{
        margin-top: 30%;
        margin-left: 75%;
    }
}