
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: radial-gradient(rgba(0, 119, 181, 1),#333333);
}

.title{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

.btn{
    width: 100px;
    height: 60px;
    border-radius: 10px;    
    background:#323232;
    position: relative;
}

.inicio{
    margin-top: -3%;
    margin-left: 85%;
}
.p{
    color: #fff;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 1.3em;
}
.contenedor__tiutlo--principal{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.contenedor__imagenes{
    width: 100%;
    height: 1000px;
    position: relative;
}

.imagen_carro1{
    position: absolute;
    width: 250px;
    top: 0px;
    left: 20px;
}

.imagen_carro2{
    position: absolute;
    width: 250px;
    top: 400px;
    left: 20px;
}

.meta{
    position: absolute;
    width: 250px;
    margin-top: 180px;
    margin-left: 1100px;
}